.header-section{
	background: url("/Users/christianlynch/Desktop/CodeCert/freeWork/pictures/PICT9512.jpg");
	background-size:100%;
	color:white;
	background-repeat: no-repeat;
	height: 70%;
	width:auto;
	float: center;
	background-attachment: inherit;
	text-align: center;
}
.intro-section{
/*	background-color: rgba(232, 232, 240, .4);
*/	width:658px;
	padding-top:100px;
	color: black;	
}
.navBar{
	background-color: #b3edff
	position:fixed;
}

.replacement{
	display: none;
}
/*Dropdown Menu	*/
/*.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: none;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/



ul {
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    background-color: rgba(20, 30, 48, .5);
    display: inline-block;
    border-radius: 5px;
}
li{
	float: left;
	display: inline-block;
    border-right: solid, white, 1px;


}
li a:hover{
	text-decoration: bold, italic;
	color: lightgrey;
	background-color: #00223E;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-right: solid, white, 1px;


}
a {
    display: inline;
    padding: 20px;
    background-color: #dddddd;
        border-right: solid, white, 1px;
            text-align: center;
}

h4{
	text-align: center;
	margin: 10px;
	padding: 10px;
	background-color: rgba(133, 147, 152,  .1);
	overflow: hidden;
	color: black;

;
}
body{
		background: linear-gradient(#ffffff, #abbaab);
		color:#536976 ;

}
.inspiration{
	color: black;
	text-align: center;
	margin-right: 0px;
	margin-left: 0px;
}

div.intro_gallery{
	margin: 10px;
	border: 1px solid;
	float: relative;
	width:150px;
	display: inline-block;
	background: linear-gradient(#1F1C2C, #928DAB);
}
img{
	width: 100%; 
	padding: 0px;
	border: solid 1px ;
	display:inline-block;
}

.row{
	display:flex;
	flex-wrap:wrap;
	padding: 0 4px;
	margin-right: 0px;
	margin-left: 0px;
}
.column{
	flex: 25%;
	max-width: 25%;
	padding:0 4px;
}
.column img{
	margin-top: 8px;
	vertical-align: middle;
	border: 2px solid;
	padding: 3px;
}

@media screen and (max-width: 800px){
	.column{
		flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px){
	.column{
		flex:100%;
		max-width: 100%
	}
}


/*about page*/

.myBio{
	display: inline-block;
	text-align: center;
	margin-left:235px;
	padding:auto;
	margin-top: 10px;
}
.myAvi{
	text-align: center;
	float:middle;

}
#bioAvi{
	width: 50%;
	float:left;
	border: inset lightblue;
	margin:15px;
}

/*my work page*/

.mywork-header{
	height: 400px;
	
	text-align: center;
	padding:150px;
	font-family: monospace;
}

.portrait-gallery{
	background: url("/Users/christianlynch/Desktop/CodeCert/freeWork/pictures/_DSC2671.jpg");
	height: 450px;
	width: 1000px;
	margin:auto;
	background-size: 100%;
	background-repeat: none;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid black 1px;

}
/*@keyframes hoveranimation{
	from {opacity:0;}
	to {opacity: .8;}
}*/
.portrait-gallery:hover{
	/*animation-name: hoveranimation;
	animation-duration:1s;*/
	opacity:.8;
	transition:.4s;
}
#gallery-button{
	margin-top:220px;
	margin-left: 450px;
	height: 50px;
	font-size: 24px;
	background: none;
	font-family: monospace;
	color: white;
}

#gallery-button:hover{
	background:lightgrey;
	opacity:2;
}

.photo-gallery{
	padding: auto;

}

.street-photo-gallery{
	background: url("/Users/christianlynch/Desktop/CodeCert/freeWork/pictures/_DSC5425.jpg");
	height: 450px;
	width: 1000px;
	margin:auto;
	background-size: 100%;
	background-repeat: none;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid black 1px;
}

.street-photo-gallery:hover{
	/*animation-name: hoveranimation;
	animation-duration:1s;*/
	opacity:.8;
	transition:.4s;
}
.landscape-gallery{
	background: url("/Users/christianlynch/Desktop/CodeCert/freeWork/pictures/DSC00668.jpg");
	height: 450px;
	width: 1000px;
	margin:auto;
	background-size: 100%;
	background-repeat: none;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid black 1px;

}

.landscape-gallery:hover{
	/*animation-name: hoveranimation;
	animation-duration:1s;*/
	opacity:.8;
	transition:.4s;
}